@use '@/styles/_variables.module' as vars;
@use '@/styles/_mixins.module' as mixins;

.home {
    section:nth-child(n+3) {
        margin-top: 155px;
    }

    h1, h2 {
        text-align: center;
    }

    h2 {
        padding-inline: 20px;
    }

    &__head {
        @include mixins.flexColumn;
        padding-inline: 20px;
        padding-bottom: 60px;
        gap: 50px;
        height: min(calc(100dvh - 87px), 1100px);

        &_up {
            @include mixins.flexCenter;
            padding-inline: 30px;
            gap: 5%;
            flex: 1;

            &_left {
                flex: 1;
                text-align: center;
        
                h1 {
                    font-size: 24px;
                    text-transform: uppercase;
                }
        
                button {
                    @include mixins.button;
                    margin-top: 30px;
                }
            }

            &_right {
                @include mixins.flexCenter;
                flex: 2;
                aspect-ratio: 16/9;
            }
        }

        &_down {
            display: grid;
            grid-template-columns: repeat(4, minmax(auto, 300px));
            justify-content: center;
            gap: 20px;
        }
    }

    &__projects {
        &_slider {
            margin-top: 72px;
        }

        &_learn {
            margin-top: 40px;
            text-align: center;

            button {
                @include mixins.button;
            }            
        }
    }

    &__reasons {
        ul {
            margin-top: 72px;
            padding-inline: 20px;

            li {
                &:nth-child(n+2) {
                    margin-top: 60px;
                }
            }
        }
    }

    &__form {
        &_content {
            margin-top: 72px;
            display: flex;
            justify-content: center;
        }
    }
}

@media (max-width: 1200px) {
    .home {
        &__head {
            padding-bottom: 20px;
            gap: 30px;

            &_up {
                flex-direction: column-reverse;
                height: calc(100dvh - 324px);
                gap: 30px;

                &_left {
                    flex: unset;
                }
            
                &_right {
                    aspect-ratio: unset;
                    width: 100%;
                    max-height: 70%;
                }
            }
        }

        &__opportunities {
            margin-top: 110px;
            // scroll-margin-top: 265px;
        }
    }
}

@media (max-width: 768px) {
    .home {
        section:nth-child(n+3) {
            margin-top: 72px;
        }

        &__head {
            padding-bottom: 0;
            gap: 50px;
            height: auto;

            &_up {
                padding: 40px 0 100px;
                height: calc(100lvh - 63px);
                flex: unset;

                &_right {
                    max-height: unset;
                }
            }

            &_down {
                grid-template-columns: repeat(2, minmax(auto, 300px));
            }
        }

        &__opportunities {
            margin-top: 96px;
        }

        &__projects {
            &_slider {
                margin-top: 42px;
            }
        }

        &__reasons {
            ul {
                margin-top: 42px;
            }
        }

        &__form {
            &_content {
                margin-top: 42px;
                padding-inline: 20px;
            }
        }
    }
}

@media (max-width: 576px) {
    .home {
        h2 {
            text-align: left;
        }

        &__head {
            &_down {
                grid-template-columns: repeat(1, 1fr);
            }
        }
    }
}