@use '@/styles/_variables.module' as vars;
@use '@/styles/_mixins.module' as mixins;

.home {
    section:nth-child(n+3) {
        margin-top: 155px;
    }

    h1, h2 {
        text-align: center;
    }

    h2 {
        padding-inline: 20px;
    }

    &__head {
        @include mixins.flexColumn;
        padding-inline: 20px;
        padding-bottom: 60px;
        gap: 50px;
        height: min(calc(100dvh - 87px), 1100px);

        &_up {
            @include mixins.flexCenter;
            padding-inline: 30px;
            gap: 5%;
            flex: 1;

            &_left {
                flex: 1;
                text-align: center;
        
                h1 {
                    font-size: 24px;
                    text-transform: uppercase;
                }
        
                button {
                    @include mixins.button;
                    margin-top: 30px;
                }
            }

            &_right {
                @include mixins.flexCenter;
                flex: 2;
                aspect-ratio: 16/9;
            }
        }

        &_down {
            display: grid;
            grid-template-columns: repeat(4, minmax(auto, 300px));
            justify-content: center;
            gap: 20px;
        }
    }

    &__opportunities {
        &_mobileContent {
            display: none;
        }

        &_content {
            margin-top: 112px;
            margin-left: 10%;
            display: flex;
            padding-inline: 20px;
            gap: 32px;
            text-align: left;
    
            &_position {
                min-width: 2px;
                min-height: 100%;
                background-color: vars.$primaryColor02;
    
                div {
                    position: sticky;
                    top: calc((100% - 90px - 40px) / 2);
                    width: 100%;
                    height: 160px;
                    background-color: vars.$additionalColor;
                    z-index: 10;
                }
            }
    
            &_list {
                display: flex;
                flex-direction: column;
                flex: 1;
                gap: 145px;
    
                .active {
                    opacity: 1;
                }
    
                &_single {
                    opacity: .4;
                    transition: .5s ease;
                    // scroll-snap-align: center;
                    // scroll-margin-top: 100px;
    
                    #name {
                        font-size: 72px;
                    }
    
                    #description {
                        margin-top: 40px;
                    }
                }
            }
    
            &_media {
                flex: 1;
    
                &_content {
                    position: sticky;
                    top: calc((100% - 90px - 150px) / 2);
                    aspect-ratio: 16/9;
                    min-height: 250px;
                    border-radius: vars.$borderRadius;
                }
            }
        }
    }

    &__bento {
        padding-inline: 20px;
    }

    &__projects {
        &_slider {
            margin-top: 72px;
            height: clamp(250px, 60vw, 60dvh);
        }

        &_learn {
            margin-top: 40px;
            text-align: center;

            button {
                @include mixins.button;
            }            
        }
    }

    &__reasons {
        ul {
            margin-top: 72px;
            padding-inline: 20px;

            li {
                &:nth-child(n+2) {
                    margin-top: 60px;
                }
            }
        }
    }

    &__form {
        &_content {
            margin-top: 72px;
            display: flex;
            justify-content: center;
        }
    }
}

@media (max-width: 1200px) {
    .home {
        &__head {
            padding-bottom: 20px;
            gap: 30px;

            &_up {
                flex-direction: column-reverse;
                height: calc(100dvh - 324px);
                gap: 30px;

                &_left {
                    flex: unset;
                }
            
                &_right {
                    aspect-ratio: unset;
                    width: 100%;
                    max-height: 70%;
                }
            }
        }

        &__opportunities {
            margin-top: 110px;
            scroll-margin-top: 265px;

            &_content {
                margin-top: 100px;
                margin-left: 0%;
                padding-inline: 20px;

                &_list {
                    &_single {
                        #name {
                            font-size: 52px;
                        }
                    }
                }

                &_media {
                    &_content {
                        min-height: 300px;
                        height: 10vw;
                        aspect-ratio: unset;
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .home {
        &__head {
            padding-bottom: 0;
            gap: 50px;
            height: auto;

            &_up {
                padding: 40px 0 80px;
                height: calc(100lvh - 63px);
                flex: unset;

                &_right {
                    max-height: unset;
                }
            }

            &_down {
                grid-template-columns: repeat(2, minmax(auto, 300px));
            }
        }

        &__opportunities {
            margin-top: 96px;

            &_content {
                display: none;
            }
            
            &_mobileContent {
                display: block;
                margin-top: 20px;
                text-align: left;

                &_list {
                    @include mixins.noScrollbar;
                    overflow-x: auto;
                    overflow-y: hidden;
                    padding-inline: 20px;
                    display: flex;
                    gap: 24px;
                    width: 100%;
                    max-height: min-content;
                    scroll-snap-type: x mandatory;
                    -ms-overflow-style: none;
                    scrollbar-width: none;

                    &_single {
                        min-width: 90%;
                        aspect-ratio: 16/9;
                        min-height: 200px;
                        scroll-snap-align: start;
                        scroll-snap-stop: always;
                        scroll-margin-left: 20px;
                    }
                }

                &_indexes {
                    margin-top: 20px;
                    display: flex;
                    justify-content: center;
                    gap: 5px;

                    li {
                        height: 2px;
                        width: 20px;
                        background-color: rgba($color: vars.$primaryColor, $alpha: .2);
                        border-radius: 2px;
                        transition: .3s ease;
                    }
        
                    .activeIndex {
                        background-color: vars.$primaryColor;
                    }
                }

                &_info {
                    margin-top: 24px;
                    padding-inline: 20px;

                    &_up {
                        display: flex;
                        justify-content: space-between;
                        align-items: flex-start;
                        gap: 20px;

                        #name {
                            padding-top: 4px;
                            font-size: vars.$subHeaderMobileFontSize;
                            font-weight: 400;
                        }

                        a {
                            @include mixins.button;
                        }
                    }

                    #description {
                        margin-top: 16px;
                        font-weight: 200;
                    }
                }
            }
        }

        &__projects {
            &_slider {
                margin-top: 42px;
            }
        }

        &__form {
            &_content {
                margin-top: 42px;
                padding-inline: 20px;
            }
        }
    }
}

@media (max-width: 576px) {
    .home {
        h2 {
            text-align: left;
        }

        &__head {
            &_down {
                grid-template-columns: repeat(1, 1fr);
            }
        }
    }
}