@use '@/styles/_variables.module' as vars;
@use '@/styles/_mixins.module' as mixins;

.quiz {
    padding: 24px;
    width: 62.5%;
    background-color: vars.$primaryColor;
    border-radius: vars.$borderRadius;

    &__text {
        color: vars.$secondaryColor;
        text-align: center;
        font-size: 20px;
    }

    &__status {
        margin-top: 20px;
        display: flex;
        justify-content: center;

        &_bar {
            display: flex;
            width: 80%;
            height: 15px;
            border-radius: 10px;
            background-color: vars.$secondaryColor;

            div {
                height: 100%;
                background-color: vars.$additionalColor;
                border-radius: 10px;
                transition: .3s ease;
            }
        }
    }

    &__title {
        margin-top: 20px;
        color: vars.$secondaryColor;
        text-align: center;
        font-size: 24px;
    }

    &__options {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;

        li {
            width: calc(50% - 10px);

            button {
                padding: 12px;
                width: 100%;
                background-color: vars.$secondaryColor;
                border-radius: vars.$mobileBorderRadius;
                transition: .3s ease;

                &:hover {
                    background-color: vars.$primaryColor02;
                }
            }

            .two {
                &::after {
                    content: '\00B2'
                }
            }

            .active {
                background-color: vars.$primaryColor04;

                &:hover {
                    background-color: vars.$primaryColor04;
                }
            }
        }
    }

    &__next {
        margin-top: 20px;
        text-align: center;

        button {
            @include mixins.whiteButton;
        }
    }

    &__inputs {
        margin-top: 10px;
        text-align: center;

        input {
            @include mixins.lightInput;
            margin-top: 20px;
            width: 80%;
        }
    }

    &__submit {
        margin-top: 20px;
        text-align: center;
        
        button {
            width: max-content;
        }
    }

    &__error {
        margin-top: 20px;
        color: vars.$redStatusColor;
        text-align: center;
        font-size: 20px;
    }
}

@media (max-width: 768px) {
    .quiz {
        width: 100%;
        border-radius: vars.$mobileBorderRadius;
    }
}

@media (max-width: 576px) {
    .quiz {
        &__status {
            &_bar {
                width: 100%;
            }
        }
        
        &__options {
            li {
                width: 100%;
            }
        }

        &__inputs {    
            input {
                width: 100%;
            }
        }

        &__next {   
            margin-top: 40px; 
            
            button {
                width: 100%;
            }
        }

        &__submit {
            button {
                width: 100%;
            }
        }
    }
}