@use '@/styles/_variables.module' as vars;
@use '@/styles/_mixins.module' as mixins;

.advantage {
    padding: 24px 16px 16px;
    background-color: rgba($color: vars.$primaryColor, $alpha: .1);
    border-radius: vars.$borderRadius;
    text-align: center;

    &__value {
        font-size: 40px;
        font-weight: 500;
        color: vars.$additionalColor;
    }

    &__description {
        margin-top: 16px;
        font-size: 20px;
    }
}

@media (max-width: 576px) {
    .advantage {
        &__value {
            font-size: 32px;
            font-weight: 500;
        }
    
        &__description {
            margin-top: 16px;
            font-size: 16px;
        }
    }
}