@use '@/styles/_variables.module' as vars;
@use '@/styles/_mixins.module' as mixins;

.slider {
    position: relative;

    img {
        -webkit-user-drag: none;
    }

    &__wrapper {
        @include mixins.noScrollbar;
        overflow-x: auto;
        overflow-y: hidden;
        display: flex;
        gap: 8.5%;
        // height: 100%;
        scroll-snap-type: x mandatory;

        &::before {
            content: '';
            min-width: 10.25%;
            height: clamp(300px, calc(100dvh - 450px), 700px);
            background-color: rgba($color: vars.$primaryColor, $alpha: .1);
            border-radius: 0 vars.$borderRadius vars.$borderRadius 0;
        }

        &::after {
            content: '';
            min-width: 10.25%;
            height: clamp(300px, calc(100dvh - 450px), 700px);
            background-color: rgba($color: vars.$primaryColor, $alpha: .1);
            border-radius: vars.$borderRadius 0 0 vars.$borderRadius;
        }
    }

    &__slide {
        min-width: 62.5%;
        // height: calc(100% - 42px);
        transition: .9s ease;
        // user-select: none;
        scroll-snap-align: center;
        scroll-snap-stop: always;
    }

    &__slideWrapper {
        flex: 1;
        overflow: hidden;
        width: 100%;
        height: clamp(300px, calc(100dvh - 450px), 700px);
        border-radius: vars.$borderRadius;
        cursor: zoom-in;

        &:focus-visible {
            outline-offset: -5px;
        }
    }

    &__info {
        margin-top: 18px;
        display: grid;
        grid-template-columns: 1fr;
        
        p {
            span {
                font-weight: 400;
            }

            &:nth-child(2) {
                &::after {
                    content: '\00B2'
                }
            }
        }
    }

    .inActive {
        opacity: .4;
    }

    &__rightChange, &__leftChange {
        @include mixins.flexCenter;
        position: absolute;
        top: calc((100% - 125px) / 2);
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: vars.$primaryColor;
        transition: box-shadow .3s ease;
        z-index: 15;

        &:hover {
            box-shadow: 0px 0px 0px 8px rgba($color: vars.$primaryColor, $alpha: .2);
        }
    }

    &__rightChange {
        left: 85.5%;
        transform: translate(-50%, -50%);
    }

    &__leftChange {
        right: 85.5%;
        transform: translate(50%, -50%) rotate(180deg);
    }

    svg {
        stroke: vars.$secondaryColor;
        fill: vars.$secondaryColor;
        transform: scale(.8) translateX(2px);
    }

    &__dots {
        display: none
    }
}

@media (max-width: 768px) {
    .slider {
        .inActive {
            opacity: unset;
        }

        &__slideWrapper {
            border-radius: vars.$mobileBorderRadius;
            height: clamp(150px, 40dvw, 700px);
        }

        &__wrapper {
            &::before {
                border-radius: 0 vars.$mobileBorderRadius vars.$mobileBorderRadius 0;
                height: clamp(150px, 40dvw, 700px);
            }
    
            &::after {
                border-radius: vars.$mobileBorderRadius 0 0 vars.$mobileBorderRadius;
                height: clamp(150px, 40dvw, 700px);
            }

            &_blank {
                display: none;
            }
        }

        &__rightChange, &__leftChange {
            display: none
        }

        &__dots {
            margin-top: 16px;
            display: flex;
            justify-content: center;
            gap: 5px;

            span {
                width: 10px;
                height: 10px;
                border-radius: 50%;
                border: vars.$primaryBorder;
                transition: .3s ease;
            }

            .activeDot {
                background-color: vars.$primaryColor;
            }
        }
    }
}

@media (max-width: 576px) {
    .slider {
        &__info {
            font-size: 14px;
        }
    }
}