@use '@/styles/_variables.module' as vars;
@use '@/styles/_mixins.module' as mixins;

.graph {
    @include mixins.flexCenter;
    gap: 30px;

    &__main {
        width: 100%;
        padding: 15px;
        width: min(100%, 750px);
        height: 380px;
        box-shadow: vars.$boxShadow;
        border-radius: vars.$borderRadius;
        font-size: 14px;

        &_wrapper {
            @include mixins.scrollbar;
            overflow-x: auto;
            height: 100%;
        }

        &_image {
            width: max(100%, 600px);
            height: calc(100% - 17px);
        }

        &_down {
            display: flex;
            justify-content: space-between;
            width: max(100%, 600px);
        }
    }

    &__text {
        font-size: 22px;
        width: min(100%, 250px);

        span {
            font-weight: 400;
        }
    }
}

@media (max-width: 768px) {
    .graph {
        display: block;

        &__main {
            border-radius: vars.$mobileBorderRadius;
        }

        &__text {
            margin-top: 10px;
            width: unset;
            font-size: 16px;
        }
    }
}